.townhub-section {
    @include container-full;
    background-color: #325096;
    font-family: $roboto;
    .footer-container {
        @extend .relative;
        .top-row {
            @include flex(flex, "", space-between, baseline, "");
            @include section-container;
            padding: $padding-xl * 1.5 0;
            .newsletter {
                .subscribe,
                .newsletters {
                    @include font($roboto, $font-xl/2, $bold, $white);
                    padding-bottom: $padding-md * 2;
                }
                .newsletters {
                    color: $text-main;
                }
                p {
                    color: rgba(255, 255, 255, 0.6);
                    font-size: $font-sm;
                    margin-top: $margin-lg * 2;
                }
            }
            .input-mail-row {
                width: $width-xxs * 8;
                padding: $padding-lg * 2;
                background-color: $white;
                border-radius: $border-xl;
                @extend .relative;
                .input-mail {
                    padding: $padding-lg * 3;
                    @include border(none);
                    &:focus {
                        @include outline(none);
                    }
                }
                i {
                    @include position(absolute, "", $pos-lg * 5, $pos-md * 5, "");
                    font-size: $font-lg;
                    color: $text-main;
                    font-weight: $very-light;
                }
                @media (max-width: 980px) {
                    width: 100%;
                }
            }
            @media (max-width: 980px) {
                @include display(block);
            }
        }
        .footer-line {
            width: 100%;
            height: $height-xxs;
            background-color: rgba(255, 255, 255, 0.11);
        }
        .middle-row {
            @media (max-width: 900px) {
                @include display(block);
            }
            @include section-container;
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            .info-footer {
                @media (min-width: 900px) {
                    width: 45%;
                }
                @media (max-width: 900px) {
                    width: 100%;
                    @include flex(flex, column, "", center, "");
                }
                img {
                    margin-bottom: $margin-lg * 8;
                }
                p {
                    color: $white;
                    text-align: left;
                    line-height: $line-height-description;
                    margin-bottom: $margin-lg * 2;
                    font-size: $font-sm;
                }
                .quick-links {
                    .quick-links-items {
                        width: $width-xxs * 6.2;
                        padding: $padding-lg * 2 $padding-lg * 3;
                        font-size: $font-sm;
                        font-weight: $regular-weight;
                        background: rgba(255, 255, 255, 0.11);
                        border-radius: $border-lg * 6;
                        margin-bottom: $margin-md * 4;
                        i {
                            color: $text-main;
                        }
                        span {
                            font-size: $font-sm * 0.9;
                            font-weight: $regular-weight;
                            color: rgba(255, 255, 255, 0.51);
                            padding-left: $padding-sm * 2;
                        }
                        .mail-info {
                            color: rgba(255, 255, 255, 0.81);
                            &:hover {
                                color: $text-main;
                            }
                        }
                    }
                    .find-us {
                        @include icon-row;
                        margin-right: $margin-lg * 3;
                        @include font($roboto, $font-lg/2, $bold, $white);
                        margin-top: $margin-lg * 6;
                    }
                }
            }
            .last-news {
                @media (min-width: 900px) {
                    width: 45%;
                }
                @media (max-width: 900px) {
                    width: 100%;
                    @include flex(flex, column, "", center, "");
                }
                .last-news-header {
                    font-size: $font-xl/2;
                    margin-bottom: $margin-xl;
                    color: $white;
                    font-weight: $bold;
                    border-bottom: $borderwidth-sm solid rgba(255, 255, 255, 0.11);
                    padding-bottom: $padding-lg * 5;
                    @media (max-width: 900px) {
                        margin-top: $margin-lg * 6;
                    }
                }
                .last-news-row {
                    @include display(flex);
                    margin-bottom: $margin-lg * 4;
                    img {
                        border-radius: $border-md;
                        object-fit: cover;
                        width: 30%;
                        height: 100%;
                    }
                    .last-news-content {
                        margin-left: $margin-lg * 5;
                        height: fit-content;
                        padding-bottom: $padding-lg * 2;
                        border-bottom: $borderwidth-sm dotted rgba(255, 255, 255, 0.21);
                        h5 {
                            @include font($roboto, $font-md, $bold, $white);
                            padding-bottom: $padding-lg * 2;
                            border-bottom: $borderwidth-sm dotted rgba(0, 0, 0, 0.185);
                        }
                        span {
                            @include font( $roboto, $font-sm, $bold, rgba(255, 255, 255, 0.51));
                            i {
                                font-weight: $very-light;
                                padding-right: $padding-lg * 2;
                                color: $text-main;
                            }
                        }
                        .news-info {
                            color: rgba(255, 255, 255, 0.801);
                            font-size: $font-sm;
                            display: block;
                            padding-top: $padding-lg * 3;
                            margin-bottom: $margin-lg * 4;
                        }
                    }
                }
                .read-more {
                    color: $white;
                    font-weight: 600;
                    font-size: 12px;
                    margin-top: 18px;
                    i {
                        font-weight: 300;
                        margin-left: 14px;
                        color: $text-main;
                    }
                }
            }
        }
        .bottom-row {
            margin-top: 20px;
            padding: 20px 0;
            background: #253966;
            .bottom-container {
                width: 80%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                .made-by {
                    color: #fff;
                    font-weight: 500;
                    font-size: 12px;
                }
                .bottom-info-row {
                    ul {
                        display: flex;
                        justify-content: space-evenly;
                        li {
                            color: $text-main;
                            font-weight: 400;
                            font-size: 12px;
                            padding: 0 10px;
                        }
                        .bottom-info-row-extra {
                            border-right: 1px solid $text-main;
                        }
                    }
                }
                @media (max-width: 600px) {
                    display: block;
                    .made-by {
                        padding-bottom: 20px;
                        text-align: center;
                    }
                    .bottom-info-row {
                        ul {
                            justify-content: space-between;
                        }
                    }
                }
            }
        }
    }
}