//---TYPOGRAPHY---//
//FONT FAMILY//
$roboto: "Roboto",
sans-serif;
$raleway: "Raleway",
sans-serif;
//FONT WEIGHT//
$extra-bold: 900;
$strong-bold: 800;
$very-bold: 700;
$bold: 600;
$regular-weight: 500;
$light-weight: 400;
$very-light: 300;
//LINE HEIGHT//
$line-height-main: 15px;
$line-height-description: 24px;
$line-height-secondary: 22px;
$line-height-third: 28px;
// FONT SIZE //
$font-xs: 10px;
$font-sm: 14px;
$font-md: 18px;
$font-lg: 24px;
$font-xl: 32px;
$font-h: 42px;
//LETTER SPACING//
$main-letter-spacing: 2px;
//---FORMULA---//
//FONTS//
@mixin font($font, $size, $weight, $color) {
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}