//----COLORS----//
//DEFAULT//
$black: black;
$white: white;
//TEXT COLOR//
$text-main: #4db7fe;
$text-secondary: #2e3f6e;
$text-details: #7d93b2;
$text-heading: #566985;
//BACKGROUND COLOR//
$bg-main: #2e3f6e;
$bg-secondary: #4db7fe;
$bg-third: #5ecfb1;
$bg-button: #384f95;
//---SPACING---//
//BORDER STYLE//
$borderwidth-sm: 1px;
$borderwidth-lg: 10px;
//PADDING//
$padding-sm: 2px;
$padding-md: 3px;
$padding-lg: 5px;
$padding-xl: 20px;
$padding-xxl: 65px;
$padding-rare: 7px;
//MARGIN//
$margin-sm: 2px;
$margin-md: 3px;
$margin-lg: 5px;
$margin-xl: 28px;
$margin-xxl: 50px;
$margin-card: 280px;
//HEIGHT//
$height-xxs: 1px;
$height-xs: 3px;
$height-sm: 45px;
$height-md: 160px;
$height-lg: 400px;
$height-rare: 13px;
$height-card: 350px;
$height-circle: 60px;
//WIDTH//
$width-xxs: 40px;
$width-xs: 150px;
$width-sm: 640px;
$width-md: 1100px;
$width-xl: 1180px;
$width-rare: 13px;
$width-button: 180px;
//BORDER RADIUS//
$border-sm: 3px;
$border-md: 4px;
$border-lg: 5px;
$border-xl: 40px;
//---POSITION---//
//POSITION//
$position-main: relative;
$position-free: absolute;
$position-glue: fixed;
//DISTANCE//
$pos-xs: 2px;
$pos-sm: 3px;
$pos-md: 5px;
$pos-lg: 7px;
$pos-xl: 30px;
$position-xxl: 50px;
$position-rare-sm: 23px;
$position-rare-md: 27px;
//EXTRA//
$theme-color: #2e3f6e;
$lightgreenish: #5ecfb1;
$secondary-bg: #3d528b;
$padding-headers: 10px 20px;